---
import "../styles/global.css";
import RegisterForm from "../components/RegisterForm.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login - Tienda</title>
  </head>
  <body>
    <RegisterForm client:load />
  </body>
</html>
